
.menu{
    color: white;
    background-image:url("../img/sidebar-bg.png");
    background-color: #051e34;
    height: calc(100vh - 52px);
    width: 150px;
    
}

._display{
    height: calc(100vh - 52px);
    overflow: auto;
}

.color-bar{
    
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    
    background-color: #3a72e8;
    color: white;
}

h2{
   
    border-bottom: 1px solid lightgray;
    background-color: #f7f7f7;
    margin-top: 2px;
    margin-bottom: 0;
    padding: 10px;
}

._circol{
    border-radius: 50%;
    color: white;
    background-color: orangered;
    padding: 4px 3px;
}

._square-tab{
    border: 1px solid lightgray;
    border-radius: 5px;
    
}
td:first-child{
    min-width: 230px;
}

._square{
    color: gray;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
    font-size: small;
}

.green{
    background-color: green;
    border-radius: 3px;
    padding: 3px;
}

._responsive{
    --bs-offcanvas-width: 550px;
}

.__btn{
    color: white;
    background-color: #165bba;
    padding: 2px 12px;
    border-radius: 20px;
    align-items: flex-end
}

/* hover */
tr:hover{
    background-color: #ececec;
}
.hover:hover{
    background-color: #445664;
}

/* responsive */

@media screen and (max-width:767px){
    
    .color-bar{
        
        flex-direction: column-reverse;
    }

    ._responsive{
        --bs-offcanvas-width: calc(100% - 50px);
    }

   .col-resp{
        display: none!important;
    }
}

@media screen and (max-width:585px) {
    td:first-child{
        min-width: 100px;
    }
    td:nth-of-type(2){
        display: none;
    }
    td:nth-of-type(3){
        display: none;
    }
    
}